{% extends "blog/base.html" %} {% load static %} {% block title %}
FatiBlog{%endblock title %} {% block content %}
<div class="container">
  <p class="tags">
    {% for tag in tags %}
    <a href="{% url 'blog:post_list_by_tag' tag.slug%}">{{tag.name}}</a>
    {%endfor %}
  </p>
  {% if tag %}
  <h2>posts tagged with {{tag.name}}</h2>
  {% endif %} {% for post in posts %}
  <h2>
    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
  </h2>

  <p class="date">Published {{post.publish}} by {{post.author}}</p>
  <p>{{post.body|truncatewords:30|linebreaks}}</p>
  {% endfor %}
</div>
{% include "./pagination.html"%} {% endblock content %}
